.layui-form-checkbox{height: 20px;line-height: 18px;margin: 0 0 4px 10px;padding-right: 27px;}
.layui-form-pane .layui-form-checkbox{margin: 0 0 4px 10px;}
.layui-form-checkbox span{font-size: 12px;}
.layui-form-checkbox i{font-size: 18px;}
.layui-table td, .layui-table th{line-height: 36px;}