{include file="../../view/comm/header" /}
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>商城</cite></a>
            <a><cite>商品管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form x-center" action="">
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="0">请选择</option>
                            <option value="可用" {if $search.status eq '可用'}selected{/if}>可用</option>
                            <option value="禁用" {if $search.status eq '禁用'}selected{/if}>禁用</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 400px;">
                        <input type="text" name="content"  value="{$search.content}" placeholder="手机号、姓名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>

        <table class="layui-table">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>昵称</th>
                    <th>手机</th>
                    <th>创建时间</th>
                    <th>最后登录时间</th>
                    <th>当前状态</th>
                    <th style="width: 150px;">操作</th>
                </tr>
            </thead>
            <tbody id="x-link">

                {volist name='list' id='data'}
                <tr>
                    {if $data.headimgurl eq ''}
                    <td class="list-image-td"><img src='/static/admin/images/add-img.png' class="list-image"></td>
                    {else}
                    <td class="list-image-td"><img src='{$data.headimgurl}' class="list-image"></td>
                    {/if}
                    <td>{$data.nickname}</td>
                    <td>{$data.mobile}</td>
                    <td>{$data.created_at}</td>
                    <td>{$data.last_login_time}</td>
                    <td>{$data.status}</td>
                    <td class="td-manage">
                        <a title="详情" href="javascript:;" style="color: #1AA094;" onclick="full('{:url("mall/product/productedit",['id'=>$data.id],"")}')"
                        class="ml-5" style="text-decoration:none">
                        详情
                        </a>

                        <a title="收货地址" href="javascript:;" style="color: #1AA094;" onclick="full('{:url("mall/product/productedit",['id'=>$data.id],"")}')"
                        class="ml-5" style="text-decoration:none">
                        收货地址
                        </a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>

        <div class="dataTables_paginate" >
            {$list->render()}
        </div>
    </div>

    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
    {include file="../../view/comm/footer" /}