{include file="../../view/comm/header" /}
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>商城</cite></a>
            <a><cite>商品管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form x-center" action="">
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="0">请选择</option>
                            <option value="未激活" {if $search.status eq '未激活'}selected{/if}>未激活</option>
                            <option value="已激活" {if $search.status eq '已激活'}selected{/if}>已激活</option>
                            <option value="已冻结" {if $search.status eq '已冻结'}selected{/if}>已冻结</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 400px;">
                        <input type="text" name="content"  value="{$search.content}" placeholder="身份证、手机号、姓名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <xblock>
            <button class="layui-btn" onclick="x_admin_show('添加会员','{:url("customer/customer/addcustomer","","")}','','')"><i class="layui-icon">&#xe608;</i>添加</button>
            <span class="x-right" style="line-height:40px">共有数据：{$list->total()} 条</span>
        </xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>手机</th>
                    <th>真实姓名</th>
                    <th>身份证号</th>
                    <th>状态</th>
                    <th>最后登录时间</th>
                    <th>当前状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="x-link">

                {volist name='list' id='data'}
                <tr>
                    {if $data.head_image eq ''}
                    <td class="list-image-td"><img src='/static/admin/images/add-img.png' class="list-image"></td>
                    {else}
                    <td class="list-image-td"><img src='{$data.head_image}' class="list-image"></td>
                    {/if}

                    <td>{$data.user_name}</td>
                    <td>{$data.mobile}</td>
                    <td>{$data.real_name}</td>
                    {if $data.id_card neq ''}
                    <td>{$data.id_card}</td>
                    {else}
                    <td>录入身份证号 <i class="layui-icon" style="color: #FF5722;" onclick="x_admin_show('录入身份证号','{:url("customer/customer/enteridcard",['id'=>$data.id],"")}','500','290');">&#xe6b2;</i></td>
                    {/if}


                    {if $data.status eq '未激活'}
                    <td>{$data.status}</td>
                    {/if}
                    {if $data.status eq '已激活'}
                    <td style="color:green;">{$data.status}</td>
                    {/if}
                    {if $data.status eq '已冻结'}
                    <td style="color:#000;">{$data.status}</td>
                    {/if}
                    <td>{$data.create_date}</td>

                    {if $data.login_status eq '未登录'}
                    <td >{$data.login_status}</td>
                    {/if}

                    {if $data.login_status eq '已登录'}
                    <td style="color:orangered;">{$data.login_status}</td>
                    {/if}

                    <td class="td-manage" style="width:80px;">
                        {if $data.status eq '未激活'}
                        <a title="激活" href="javascript:;" onclick="changeStatusComm('{:url("customer/customer/changestatus","","")}','已激活','激活','{$data.id}');"
                        class="ml-5" style="text-decoration:none">
                        激活
                        </a>&nbsp;
                        {/if}
                        <a title="查看" href="javascript:;" onclick="x_admin_show('查看详细','{:url("customer/customer/detail",["id"=>$data.id],"")}' );"
                        class="ml-5" style="text-decoration:none">
                        查看&nbsp;
                        </a>
                        {if $data.status eq '已激活'}
                        <a title="禁用" href="javascript:;" onclick="changeStatusComm('{:url("customer/customer/changestatus","","")}','已冻结','禁用','{$data.id}');"
                        class="ml-5" style="text-decoration:none">
                        禁用
                        </a>
                        {/if}
                        {if $data.status eq '已冻结'}
                        <a title="启用" href="javascript:;" onclick="changeStatusComm('{:url("customer/customer/changestatus","","")}','已激活','启用','{$data.id}');"
                        class="ml-5" style="text-decoration:none">
                        启用
                        </a>
                        {/if}


                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>

        <div class="dataTables_paginate" >
            {$list->render()}
        </div>
    </div>

    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
    {include file="../../view/comm/footer" /}