{include file="../../view/comm/header" /}
<link rel="stylesheet" href="/static/admin/css/checkbox.css" media="all">
<style>
    .layui-form-item .layui-input-inline {
        width: 280px;
    }
</style>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                订单信息
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    <tr>
                        <td>订单号：{$detail.orders_sn}</td>
                        <td>下单时间：{$detail.create_date}</td>

                    </tr>
                    <tr>
                        <td>订单处理状态：{$detail.is_deal}</td>
                        <td>订单状态：{$detail.order_status}</td>

                    </tr>
                    <tr>
                        <td>支付途径：{$detail.pay_type}</td>
                        <td>支付金额：{$detail.pay_amount}</td>

                    </tr>
                    <tr>
                        <td>支付时间：{$detail.pay_date}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                下单人信息
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    <tr>
                        <td>下单人用户名：{$detail.user_name}</td>
                    </tr>
                    <tr>
                        <td>下单人电话：{$detail.mobile}</td>
                    </tr>
                    <tr>
                        <td>下单人昵称：{$detail.nick_name}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                订单商品
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    {volist name='$detail.product' id='product'}
                    <tr>
                        <td>{$product.product_name}</td>
                        <td>{$product.price}</td>
                        <td>{$product.real_price}</td>
                        <td>{$product.num}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item">
            <ul id="get-image" class="get-image">
            </ul>
        </div>

    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}