{include file="../../view/comm/header" /}
<link rel="stylesheet" href="/static/admin/css/checkbox.css" media="all">
<style>
    .layui-form-item .layui-input-inline {
        width: 280px;
    }
</style>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                订单信息
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    <tr>
                        <td>订单号：{$detail.orders_sn}</td>
                        <td>下单时间：{$detail.created_at}</td>

                    </tr>
                    <tr>
                        <td>订单金额：{$detail.orders_amount}</td>
                        <td>运费：{$detail.shipping_fee}</td>

                    </tr>

                    <tr>
                        <td>折扣金额：{$detail.discount_fee}</td>


                    </tr>

                    <tr>
                        <td>订单状态：{$detail.orders_status}</td>
                        <td>支付状态：{$detail.payment_status}</td>

                    </tr>
                    <tr>
                        <td>支付时间：-</td>
                        <td>支付金额：{$detail.payment_amount}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                下单人信息
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    <tr>
                        <td>下单人用户名：{$detail.user_name}</td>
                    </tr>
                    <tr>
                        <td>收货人姓名：{$detail.nick_name}</td>
                    </tr>
                    <tr>
                        <td>收货人电话：{$detail.mobile}</td>.
                    </tr>
                    <tr>
                        <td>收货人详细地址：{$detail.province}-{$detail.city}-{$detail.area}-{$detail.detail_address}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                订单商品
            </label>
            <div class="layui-input-block">
                <table class="layui-table" style="padding: 0;margin: 0;">
                    <tbody>
                    <tr>
                        <th>产品名称</th>
                        <th>实际价格</th>
                        <th>折后价格</th>
                        <th>数量</th>
                    </tr>
                    {volist name='$detail.product' id='product'}
                    <tr>
                        <td>{$product.product_name}</td>
                        <td>{$product.real_price}</td>
                        <td>{$product.discount_price}</td>
                        <td>{$product.num}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item">
            <ul id="get-image" class="get-image">
            </ul>
        </div>

    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}