{include file="../../view/comm/header" /}
<body>
<div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>商城</cite></a>
            <a><cite>商品管理</cite></a>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon"
                                                                        style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <select name="orders_status">
                        <option value="0">请选择</option>
                        <option value="订单完成" {if $search.orders_status eq '订单完成'}selected{/if}>订单完成</option>
                        <option value="订单取消" {if $search.orders_status eq '订单取消'}selected{/if}>订单取消</option>
                        <option value="订单处理中" {if $search.orders_status eq '订单处理中'}selected{/if}>订单处理中</option>


                    </select>
                </div>

                <label class="layui-form-label">支付状态</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <select name="payment_status">
                        <option value="0">请选择</option>
                        <option value="已支付"  {if $search.payment_status eq '已支付'}selected{/if}>已支付</option>
                        <option value="未支付"  {if $search.payment_status eq '未支付'}selected{/if}>未支付</option>

                    </select>
                </div>


                <div class="layui-input-inline" style="width: 250px;">
                    <input type="text" name="content" placeholder="订单号、下单人姓名和电话" autocomplete="off" value="{$search.content}"
                           class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
        <button class="layui-btn"><i class="layui-icon">&#xe608;</i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$list->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>订单产品</th>
            <th>下单用户名</th>
            <th>下单用户电话</th>
            <th>订单状态</th>
            <th>支付状态</th>
            <th style="width: 140px;">下单时间</th>
            <th>订单金额金额</th>
            <th>实际支付金额</th>
            <th style="width: 60px;">操作</th>
        </tr>
        </thead>
        <tbody id="x-link">

        {volist name='list' id='data'}
        <tr>
            <td>{$data.orders_sn}</td>
            <td style="width: 300px;">
                {volist name='data.orders_product' id='product'}
                <span style="width: 100%;float: left;margin-bottom: 10px;">商品名：{$product.product_name}; 商品成交价：{$product.real_price}; 商品数量：{$product.num}</span>
                {/volist}
            </td>
            <td>{$data.nick_name}</td>
            <td>{$data.mobile}</td>



            <td>
                <select id="changeorderstatus" style="padding: 5px;" onchange="changeStatus('{:url("mall/orders/updateorderstatus","","")}','{$data.id}');">
                    <option value="订单完成" {if $data.orders_status eq '订单完成'}selected{/if}>订单完成</option>
                    <option value="订单取消" {if $data.orders_status eq '订单取消'}selected{/if}>订单取消</option>
                    <option value="订单处理中" {if $data.orders_status eq '订单处理中'}selected{/if}>订单处理中</option>
                </select>
            </td>
            <td>
                <select id="changepayment" style="padding: 5px;" onchange="changeDeal('{:url("mall/orders/updatestatus","","")}','{$data.id}');">
                    <option value="已支付"  {if $data.payment_status eq '已支付'}selected{/if}>已支付</option>
                    <option value="未支付"  {if $data.payment_status eq '未支付'}selected{/if}>未支付</option>

                </select>
            </td>



            <td>{$data.created_at}</td>
            <td>{$data.orders_amount}</td>
            <td>{$data.payment_amount}</td>
            </td>
            <td class="td-manage" style="width: 60px;">
                <a title="查看" href="javascript:;" onclick="x_admin_show('查看订单信息','{:url("mall/orders/orderdetail",['id'=>$data.id],"")}','','');"
                   class="ml-5" style="text-decoration:none">
                    查看
                </a>&nbsp;
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>

    <div class="dataTables_paginate">
        {$list->render()}
    </div>
</div>

<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
<script src="/static/admin/operation/orders.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}