{include file="../../view/comm/header" /}
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>商城</cite></a>
            <a><cite>商品管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form x-center" action="">
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类目</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <select name="items">
                            <option value='0'>请选择类目</option>
                            {volist name='items_list' id='items_list'}
                            <option value='{$items_list.id}'  {if $items_list.id eq $search.items}selected{/if}>{$items_list.items_name}</option>
                            {if $items_list.child neq ''}
                            {volist name='items_list.child' id='child'}
                            <option value="{$child.id}" {if $child.id eq $search.items}selected{/if}>----{$child.items_name}</option>
                            {/volist}
                            {/if}
                            {/volist}
                        </select>
                    </div>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="status">
                            <option value="0">请选择</option>
                            <option value="上架" {if $search.status eq '上架'}selected{/if}>上架</option>
                            <option value="下架" {if $search.status eq '下架'}selected{/if}>下架</option>
                        </select>
                    </div>

                    <label class="layui-form-label">营销</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="is_deal">
                            <option value="0">请选择<option>
                            <option value="1" {if $search.is_deal eq 1}selected{/if} >热销<option>
                            <option value="2" {if $search.is_deal eq 2}selected{/if} >折扣</option>
                            <option value="3" {if $search.is_deal eq 3}selected{/if} >最新</option>
                        </select>
                    </div>

                    <div class="layui-input-inline" style="width: 250px;">
                        <input type="text" name="content"  value="{$search.content}" placeholder="商品名称、plu" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
            <button class="layui-btn" onclick="full('{:url("mall/product/addproduct","","")}')"><i class="layui-icon">&#xe608;</i>添加</button>
            <span class="x-right" style="line-height:40px">共有数据：{$list->total()}  条</span>
        </xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" value=""></th>
                    <th>商品主图</th>
                    <th>商品名</th>
                    <th>商品编码</th>
                    <th>关键字</th>
                    <th>所属类目</th>
                    <th>价格</th>
                    <th>状态</th>
                    <th>库存</th>
                    <th style="width: 155px;">操作</th>
                </tr>
            </thead>
            <tbody id="x-link">

                {volist name='list' id='data'}
                <tr>
                    <td><input type="checkbox" value="1" name=""></td>
                    {if $data.cover_image eq ''}
                    <td class="list-image-td"><img src='/static/admin/images/add-img.png' class="list-image"></td>
                    {else}
                    <td class="list-image-td"><img src='{$Think.config.image_src.$data.cover_image}' class="list-image"></td>
                    {/if}
                    <td>{$data.name}</td>
                    <td>{$data.plu}</td>
                    <td>{$data.keyword}</td>
                    <td>{$data.items_id}</td>
                    <td>实际价：{$data.price}   折后价: {$data.discount_price}</td>
                    <td>{$data.status}</td>
                    <td>{$data.num}</td>
                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="full('{:url("mall/product/productedit",['id'=>$data.id],"")}')"
                           class="ml-5" style="text-decoration:none">
                            编辑
                        </a>

                        <a title="上传sku图片" href="javascript:;" onclick="x_admin_show('上传sku图片', '{:url("mall/product/skuimages",['id'=>$data.id],"")}','','')")"
                        class="ml-5" style="text-decoration:none">
                        上传sku图片
                        </a>

                        <a title="删除" href="javascript:;" onclick="deletedRow(this,'{:url("mall/product/deletedproduct","","")}',{$data.id});"
                        style="text-decoration:none">
                        删除
                        </a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>

        <div class="dataTables_paginate" >
            {$list->render()}
        </div>
    </div>

    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
    {include file="../../view/comm/footer" /}