{include file="../../view/comm/header" /}
<link rel="stylesheet" href="/static/admin/css/checkbox.css" media="all">
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <input type="hidden" value="skuimageupdate" name="action">
        {volist name='sku' id='sku'}
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>{$sku.string}
            </label>
            <div class="layui-input-inline">
                <div class="layui-input-inline item" style="width: 500px;">
                    <div class="layui-btn" style='margin-left: 10px;' onclick="upload_image('{:url("base/base/uploadimageview","parentid=get-image-".$sku.id."&num=5&name=image-".$sku.id,"")}');"><i class="layui-icon">&#xe608;</i>添加图片
                </div>
                <div class="layui-form-item">
                    <ul id="get-image-{$sku.id}" class="get-image">
                        {if $sku.imagelist neq '' }
                        {volist name='sku.imagelist' id='img'}
                        <li><img src="{$Think.config.image_src.$img}"><span class="img-deleted" onclick="deletedImg(this);">
                        <img src="/static/admin/images/delete.png" style="height: 20px;width: 20px;"></span>
                            <input name="image-{$sku.id}[]" value="{$img}" type="hidden">
                        </li>
                        {/volist}
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
        {/volist}
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
        </div>
    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}