{include file="../../view/comm/header" /}
<script src="/static/admin/operation/pcstatus.js" charset="utf-8"></script>
<style>
    #fonts-used{font-size: 11px;color:red;}
    #fonts-free{font-size: 11px;color:green;}
    #fonts-bad{font-size: 11px;color:#000;}
    #fonts-lock{font-size: 11px;color:blue;}
    .list-image{width: 30px;height: 30px;}
    .ml-5{font-size: 12px;}
    #action-free{font-size: 12px;color: green;}
</style>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>监控管理</cite></a>
            <a><cite>客户机状态</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
            title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form x-center" action="">
            <div class="layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <select name="status">
                            <option value="0">请选择</option>
                            <option value="空闲" {if $search.status eq '空闲' }selected{/if}>空闲 <option>
                            <option value="使用中" {if $search.status eq '使用中' }selected{/if}>使用中 </option> <option value="故障"
                                {if $search.status eq '故障' }selected{/if}>故障 </option> <option value="锁屏" {if
                                $search.status eq '锁屏' }selected{/if}>锁屏 </option> </select> </div> <div class="layui-input-inline"
                                style="width: 250px;">
                                <input type="text" name="content" value="{$search.content}" placeholder="电脑编号"
                                    autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </div>
        </form>
        <xblock>
            <button class="layui-btn" onclick="x_admin_show('添加机器','{:url("monitor/pcstatus/addpc","","")}','500','400')">
                <i class="layui-icon">&#xe608;</i>添加机器</button>
            <span class="x-right" style="line-height:40px">共有数据：{$list->total()} 条</span>
        </xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width: 80px;">当前状态</th>
                    <th>客户机编号</th>
                    <th>型号</th>
                    <th>ip</th>
                    <th>使用顾客</th>
                    <th style="width: 200px;">操作</th>
                </tr>
            </thead>
            <tbody id="x-link">

                {volist name='list' id='data'}
                <tr>
                    {if $data.status eq '空闲'}
                    <td class="list-image-td" id="fonts-free" title="{$data.status}"><img src='/static/admin/images/free.png'
                            class="list-image"> 空闲</td>
                    {/if}
                    {if $data.status eq '使用中'}
                    <td class="list-image-td" id="fonts-used" title="{$data.status}"><img src='/static/admin/images/useing.png'
                            class="list-image"> 使用中</td>
                    {/if}
                    {if $data.status eq '故障'}
                    <td class="list-image-td" id="fonts-bad" title="{$data.status}"><img src='/static/admin/images/fault.png'
                            class="list-image"> 故障</td>
                    {/if}
                    {if $data.status eq '锁屏'}
                    <td class="list-image-td" id="fonts-lock" title="{$data.status}"><img src='/static/admin/images/lock.png'
                            class="list-image"> 锁屏</td>
                    {/if}
                    <td name="pc_no" data="{$data.pc_no}">{$data.pc_no}</td>
                    <td>{$data.pc_marker}</td>


                    {if $data.ip eq ''}
                    <td> - </td>
                    {else}
                    <td>{$data.ip}</td>
                    {/if}

                    {if $data.user_name eq ''}
                    <td style="color: green;"> - </td>
                    {else}
                    <td style="color: orangered;">{$data.user_name}</td>
                    {/if}

                    {if $data.status eq '使用中'}
                    <td class="td-manage" style="width: 160px;">
                        <a title="顾客详情" href="javascript:;" onclick="x_admin_show('顾客详情','{:url(" customer/customer/detail",["id"=>$data.customer_id],"")}','','');"
                            class="ml-5" style="text-decoration:none">
                            顾客详情&nbsp;
                        </a>
                        <a title="远程下机" href="javascript:;" onclick="layout('{$data.base64_info}');" class="ml-5" style="text-decoration:none">
                            远程下机&nbsp;
                        </a>
                    </td>
                    {else}
                    <td id="action-free">当前机器空闲中</td>
                    {/if}
                </tr>
                {/volist}
            </tbody>
        </table>

        <div class="dataTables_paginate">
            {$list->render()}
        </div>
    </div>

    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
    {include file="../../view/comm/footer" /}