{include file="../../view/comm/header" /}

<style>
    .layui-form-item .layui-input-inline {
        width: 280px;
    }

    .layui-form-pane .layui-form-label {
        width: 100px;
    }
</style>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <input type='hidden' id='action' name='action' value='add'>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>权限组
            </label>
            <div class="layui-input-inline item">
                <select name="permissions_group_id">
                    <option value="0">超级管理员</option>
                    {volist name='grouplist' id='grouplist'}
                    <option value="{$grouplist.id}">{$grouplist.permissions_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>用户名
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="username" name="username" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入用户名">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>密码
            </label>
            <div class="layui-input-inline item">
                <input type="password" id="password" name="password" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">头像</label>
            <div class="layui-input-inline item">
                <div class="layui-btn" style='margin-left: 10px;' onclick="upload_image('{:url("base/base/uploadimageview","parentid=get-image&num=1&name=head_image","")}');"><i class="layui-icon">&#xe608;</i>上传头像
            </div>
        </div>

        <div class="layui-form-item">
            <ul id="get-image" class="get-image">
            </ul>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                昵称
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="nick_name" name="nick_name"
                       autocomplete="off" class="layui-input" placeholder="昵称">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>电话
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="mobile" name="mobile" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="电话">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="email" name="email"
                       autocomplete="off" class="layui-input" placeholder="邮箱">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择地区</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select name="province" lay-filter="province">
                    <option></option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 200px;">
                <select name="city" lay-filter="city">
                    <option></option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 200px;">
                <select name="district" lay-filter="area">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>详细地址
            </label>
            <div class="layui-input-inline item" style="width:620px;">
                <input type="text" id="address" name="address" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="详细地址">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>真实姓名
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="real_name" name="real_name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="真实姓名">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="status" class="layui-form-label">
                <span class="x-red">* </span>状态
            </label>
            <div class="layui-input-inline item">
                <select name="status">
                    <option value="未激活">未激活</option>
                    <option value="可用">可用</option>
                    <option value="冻结">冻结</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>身份证号
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="id_card" name="id_card" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="身份证号码">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>薪资
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="pay" name="pay" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="薪资">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">身份证图</label>
            <div class="layui-input-inline item">
                <div class="layui-btn" style='margin-left: 10px;' onclick="upload_image('{:url("base/base/uploadimageview","parentid=get-image2&num=2&name=idcardimage","")}');"><i class="layui-icon">&#xe608;</i>上传图片
            </div>
            <span style="color: #999;font-size: 12px;">上传身份证正反面图片</span>
        </div>

        <div class="layui-form-item">
            <ul id="get-image2" class="get-image">
            </ul>
        </div>


        <div class="layui-form-item layui-form-text" style="padding-top: 5px;">
            <label for="desc" class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                <textarea placeholder="输入小于600个字符的备注" id="note" name="note" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
        </div>
    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/address" /}
<script type="text/javascript">
    pca.init('select[name=province]', 'select[name=city]', 'select[name=district]');
    //pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]', '江西', '吉安', '泰和县');
</script>


{include file="../../view/comm/footer" /}