{include file="../../view/comm/header" /}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a><cite>首页</cite></a>
        <a><cite>会员管理</cite></a>
        <a><cite>管理员列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <form class="layui-form x-center" action="">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" style="width: 120px;">
                    <select name="status">
                        <option value="0">请选择</option>
                        <option value="未激活" {if $search.status eq '未激活'}selected{/if}>未激活</option>
                        <option value="可用" {if $search.status eq '可用'}selected{/if}>可用</option>
                        <option value="冻结" {if $search.status eq '冻结'}selected{/if}>冻结</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="content" value="{$search.content}"  placeholder="员工号、用户名、真实姓名、手机" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>
    <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><button class="layui-btn" onclick="full('{:url("user/user/userAdd","","")}')"><i class="layui-icon">&#xe608;</i>添加</button><span class="x-right" style="line-height:40px">共有数据：88 条</span></xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th> <input type="checkbox" name="" value=""></th>
                <th>头像</th>
                <th>员工号</th>
                <th>手机</th>
                <th>角色</th>
                <th>真实姓名</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name='list' id='user'}
            <tr>
                <td><input type="checkbox" value="1" name=""></td>
                {if $user.head_image eq ''}
                <td class="list-image-td"><img src='/static/admin/images/add-img.png' class="list-image"></td>
                {else}
                <td class="list-image-td"><img src='{$user.head_image}' class="list-image"></td>
                {/if}
                <td>{$user.user_code}</td>
                <td>{$user.mobile}</td>
                <td>{$user.permissions_group_id}</td>
                <td>{$user.real_name}</td>
                <td class="td-status">{$user.status}</td>
                <td class="td-manage" style="width: 100px;">
                    {if $user.status eq '未激活'}
                    <a title="激活" href="javascript:;" onclick="changeStatusComm('{:url("user/user/changestatus","","")}','可用','可用','{$user.id}');"
                    style="text-decoration:none">
                    激活
                    </a>
                    {/if}

                    {if $user.status eq '冻结'}
                    <a title="启用" href="javascript:;" onclick="changeStatusComm('{:url("user/user/changestatus","","")}','可用','可用','{$user.id}');"
                    style="text-decoration:none">
                    启用
                    </a>
                    {/if}

                    {if $user.status eq '可用'}
                    <a title="冻结" href="javascript:;" onclick="changeStatusComm('{:url("user/user/changestatus","","")}','冻结','冻结','{$user.id}');"
                    style="text-decoration:none">
                    冻结
                    </a>
                    {/if}



                    <a title="编辑" href="javascript:;" onclick="full('{:url("user/user/useredit",['id'=>$user.id],"")}')"
                    class="ml-5" style="text-decoration:none">
                    编辑
                    </a>
                    <a title="删除" href="javascript:;"  onclick="deletedRow(this,'{:url("user/user/deleteuser","","")}',{$user.id});"
                    style="text-decoration:none">
                    删除
                    </a>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>
    <div class="dataTables_paginate" >
        {$list->render()}
    </div>


</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}