{include file="../../view/comm/header" /}
<link rel="stylesheet" href="/static/admin/css/checkbox.css" media="all">
<style>
    .layui-form-pane .layui-form-label {
        width: 200px;
        text-align: left;
    }
</style>
<div class="x-body">

    <form class="layui-form layui-form-pane" action="" lay-filter="example" >
        <input type="hidden" value="edit" name="action">
        <div class="layui-form-item">
            <label class="layui-form-label">每小时费用</label>
            <div class="layui-input-inline">
                <input name="{$option.hour_fee.option_code}" lay-verify="required" value="{$option.hour_fee.option_value}"
                       placeholder="请输入每小时费用" autocomplete="off" class="layui-input" type="text">
            </div>
            <button class="layui-btn layui-btn-primary">元</button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余额不足金额提醒</label>
            <div class="layui-input-inline">
                <input name="{$option.remind_fee.option_code}" lay-verify="required" value="{$option.remind_fee.option_value}"
                       placeholder="请输入余额不足金额提醒" autocomplete="off" class="layui-input" type="text">
            </div>
            <button class="layui-btn layui-btn-primary">元</button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计费时间间隔</label>
            <div class="layui-input-inline">
                <input name="{$option.count_fee_time.option_code}" lay-verify="required" value="{$option.count_fee_time.option_value}"
                       placeholder="请输入计费时间间隔" autocomplete="off" class="layui-input" type="text">
            </div>
            <button class="layui-btn layui-btn-primary">秒</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">修改</button>
        </div>
    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}