{include file="../../view/comm/header" /}
<link rel="stylesheet" href="/static/admin/css/checkbox.css" media="all">
<div class="x-body">
  <form action="" method="post" class="layui-form layui-form-pane">
    <input type="hidden" value="add" name="action">
    <div class="layui-form-item">
      <label for="name" class="layui-form-label">
        <span class="x-red">*</span>区域名称
      </label>
      <div class="layui-input-inline" style="width: 300px;">
        <input type="text" id="type_name" name="type_name" required="" lay-verify="required" autocomplete="off" class="layui-input"
          placeholder="请输入区域名称">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"><span class="x-red">*</span>计费方式</label>
      <div class="layui-input-block">
        <select name="billing_methods" lay-verify="required">
          <option value="1">单台客户机</option>
          <option value="2">包厢</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label for="name" class="layui-form-label">
        <span class="x-red">*</span>每小时费用
      </label>
      <div class="layui-input-inline" style="width: 300px;">
        <input type="text" id="cost" name="cost" required="" lay-verify="required" autocomplete="off" class="layui-input"
          placeholder="请输入型号">
      </div>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
    </div>
  </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}