{include file="../../view/comm/header" /}
<style>
    .layui-form-item .layui-input-inline {
        width: 280px;
    }
    .layui-form-pane .layui-form-label{width: 135px;}
</style>
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <input type='hidden' id='action' name='action' value='add'>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>父级属性
            </label>
            <div class="layui-input-inline item">
                <select name="attribute_id"  id="attribute_id" lay-filter="attribute_id">
                    <option value="0">顶级属性</option>
                    {volist name='parent_attribute' id='data'}
                    <option value="{$data.id}">{$data.attribute_value}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">* </span>属性名
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="attribute_value" name="attribute_value" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入属性名">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                排序
            </label>
            <div class="layui-input-inline item">
                <input type="text" id="sort" name="sort"
                       autocomplete="off" class="layui-input" value='0'>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="status" class="layui-form-label">状态</label>
            <div class="layui-input-inline item">
                <select name="status">
                    <option value="发布">发布</option>
                    <option value="不发布">不发布</option>
                </select>
            </div>
        </div>
        <div id="select-parent">
        <div class="layui-form-item">
            <label class="layui-form-label">属性选择类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="单选" title="单选" checked>
                <input type="radio" name="type" value="多选" title="多选" >
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">是否关联价格</label>
            <div class="layui-input-block">
                <input type="radio" name="price_type" value="不关联价格" title="不关联价格" checked>
                <input type="radio" name="price_type" value="关联价格" title="关联价格" >
            </div>
        </div>
        </div>
        <div class="layui-form-item">
            <ul id="get-image" class="get-image">
            </ul>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                属性简介
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入属性简介内容" id="desc" name="keyword" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
        </div>
    </form>
</div>
<script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
<script src="/static/admin/operation/product.js" charset="utf-8"></script>
{include file="../../view/comm/footer" /}